﻿html {
    height: 100%
}

body {
    height: 100%;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9000;
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    border: 2px solid white
}

.homeLeftContent {
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    padding-top: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.homeRightContent {
    margin: 5vw 5vw;
    height: calc(100% - 10vw);
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.winHeader {
    color: #ED174C;
    font-size: 2.5vw;
    padding-left: 1vw
}

.textTitle {
    color: #fff;
    font-size: 1.3vw;
    padding-left: 1vw
}

.textContent {
    color: #fff;
    font-size: 1vw;
    padding-left: 1vw;
    padding-top: 30px;
}

.roomHeader {
    color: #fff;
    font-size: 2.0vw;
    padding-left: 1vw;
    font-weight: 700
}

.roomTitle {
    color: #fff;
    font-size: 1.3vw;
    padding-left: 1vw;
    font-weight: 600
}

.roomText {
    color: #fff;
    font-size: 0.9vw;
    padding-left: 1vw;
}

.homeDotSpacing {
    margin-right: 5px
}

.homeDotRed {
    color: #ED174C;
}

.actionButton {
    background-color: #ED174C;
    color: white;
    -ms-border-radius: 5px;
    border-radius: 0.5vw;
    width: 10vw;
    min-width: 50px;
    font-weight: normal;
    padding: 5px 12px 5px 12px;
    display: table-cell;
    cursor: pointer;
    z-index: 9030;
}

.overlay {
    position: fixed;
    top: 2.5vw;
    right: 4vw;
    height: calc(100% - 5vw);
    width: 45%;
    z-index: 9010;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    overflow: hidden
}

.overlayContainer {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    z-index: 9001;
    overflow: hidden;
}

.img-slider {
    width: 100%;
    height: auto;
}

.overlayPrevIcon {
    position: fixed;
    top: 50%;
    left: 2vw;
    z-index: 10;
    z-index: 9020;
    color: black;
    background-color: black;
    border-radius: 10px;
    height: 21px;
    width: 21px;
    padding-left: 4px;
    padding-top: 1px;
    color: white;
    cursor: pointer
}

.overlayNextIcon {
    position: fixed;
    top: 50%;
    right: 2vw;
    z-index: 10;
    z-index: 9020;
    color: black;
    background-color: black;
    border-radius: 10px;
    height: 21px;
    width: 21px;
    padding-left: 7px;
    padding-top: 1px;
    color: white;
    cursor: pointer
}

.backButton {
    background-color: rgba(0, 0, 0, 0.5);
    width: 4vw;
    height: 4vw;
    color: white;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 4vw;
    padding-top: calc(2vw - 10px);
    padding-left: calc(2vw - 8px);
    cursor: pointer
}

.chosenSliderContent {
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: calc(100% - 4vw);
    width: 100%
}

.overlaySlider1 {
    background-color: rgba(95, 94, 95, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider2 {
    background-color: rgba(180, 155, 132, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider3 {
    background-color: rgba(239, 131, 130, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider4 {
    background-color: rgba(89, 115, 116, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider5 {
    background-color: rgba(174, 175, 180, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.overlaySlider6 {
    background-color: rgba(71, 85, 99, 0.95);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.hideWhenChosen {
}

.fullContent {
    margin: 3vw;
    height: calc(100% - 6vw);
    padding-top: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.formLabel {
    font-size: 0.8vw;
    color: white;
    font-weight: normal
}

.formRow {
    margin-bottom: 1.85vh
}

input[type=text], input[type=email] {
    width: 100%;
    background-color: #beb0a3;
    padding: 10px;
    border-radius: 10px;
    border: none
}

select {
    width: 100%;
    background-color: #beb0a3;
    padding: 10px;
    border-radius: 10px;
    border: none
}

.customCheckbox {
    width: 17px;
    height: 17px;
    margin: 2px 0 2px 0;
    background: #beb0a3;
    border-radius: 100%;
    position: relative;
}

    .customCheckbox label.inner {
        display: block;
        width: 12.75px;
        height: 12.75px;
        border-radius: 100px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
        cursor: pointer;
        position: absolute;
        top: 2.125px;
        left: 2.125px;
        z-index: 1;
    }

    .customCheckbox label.outer {
        margin-left: 40px;
        font-size: 0.8vw;
        color: white;
        white-space: nowrap;
        font-weight: normal
    }

    .customCheckbox [type=checkbox] {
        display: none
    }

.red.customCheckbox input[type=checkbox]:checked + label.inner {
    background: #ed174c
}

div.centerContainer {
    display: flex;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center
}

a {
    color: white;
    font-size: 0.8vw;
    text-decoration: none
}

a:hover {
    color: white;
    text-decoration: none
}

.thankyouMessageTitle {
    color: white;
    font-size: 2.9vw;
    text-align: center
}

.thankyouMessageText {
    color: white;
    font-size: 1.2vw;
    text-align: center
}