﻿@using System.Configuration
@{
    ViewBag.Title = "Plascon Decorex SA";
    var backgroundChangeInterval = ConfigurationManager.AppSettings["BackgroundChangeInterval"];
    var priceDescription = ConfigurationManager.AppSettings["PriceDescription"].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />");
    var termsUrl = ConfigurationManager.AppSettings["TermsUrl"];
    var sliderTitle = new List<string>();
    var sliderText = new List<string>();
    for (var i = 0; i < 6; i++)
    {
        sliderTitle.Add(ConfigurationManager.AppSettings["TitleSlider" + (i + 1)].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />"));
    }
    for (var i = 0; i < 6; i++)
    {
        sliderText.Add(ConfigurationManager.AppSettings["TextSlider" + (i + 1)].Replace("|b|", "<b>").Replace("|/b|", "</b>").Replace("|br|", "<br />"));
    }

}

<style>
</style>

<div id="divRoomContainer" class="overlayContainer hidden">
    <div id="divRoom" class="overlay">
        <img src="~/Content/Images/Slider1.jpg" alt="Room" class="img-responsive img-slider" id="imgSlider" />
        @for (var i = 1; i < 7; i++)
        {
            <div class="overlaySlider@(i) hidden">
                <div class="backButton"><i class="fa fa-angle-left" style="font-size: 20px;"></i></div>
                <div class="chosenSliderContent">
                    <div class="row">
                        <div class="col-sm-5 col-sm-offset-3 roomHeader">
                            @Html.Raw(sliderTitle[i - 1])
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div class="col-sm-5 col-sm-offset-3 roomText">
                            @Html.Raw(sliderText[i - 1])
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-5 col-sm-offset-3 roomTitle">
                            Share you colour choice and you could <span style="color: #ed174c">WIN!</span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top: 40px; margin-bottom: 10vw">
                        <div class="col-sm-5 col-sm-offset-3">
                            <span class="actionButton" id="btnEnter" onclick="captureForm()">Enter<i class="fas fa-angle-right pull-right" style="font-size: 1.2vw"></i></span>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="divPrev" class="overlayPrevIcon hidden">
    <i class="fa fa-angle-left" style="font-size: 20px;"></i>
</div>

<div id="divNext" class="overlayNextIcon hidden">
    <i class="fa fa-angle-right" style="font-size: 20px;"></i>
</div>

<div class="content">
    <div class="row" style="height: 100%" id="divRoomChooser">
        <div class="col-xs-4" style="height: 100%">
            <div class="homeLeftContent">
                <div style="">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 70%" />
                </div>
                <div class="winHeader hideWhenChosen">
                    WIN
                </div>
                <div class="textTitle hideWhenChosen">
                    @Html.Raw(priceDescription)
                </div>
                <div class="textContent hideWhenChosen">
                    Find out what you colour choice says about you.
                </div>
                <div class="textContent hideWhenChosen">
                    <i class="fas fa-circle fa-xs homeDotSpacing" id="sliderBullet1"></i>
                    <i class="fas fa-circle fa-xs homeDotSpacing" id="sliderBullet2"></i>
                    <i class="fas fa-circle fa-xs homeDotSpacing" id="sliderBullet3"></i>
                    <i class="fas fa-circle fa-xs homeDotSpacing" id="sliderBullet4"></i>
                    <i class="fas fa-circle fa-xs homeDotSpacing" id="sliderBullet5"></i>
                    <i class="fas fa-circle fa-xs homeDotSpacing" id="sliderBullet6"></i>
                </div>
                <div class="textContent hideWhenChosen">
                    <span class="actionButton" id="btnStart">START<i class="fas fa-angle-right pull-right" style="font-size: 1.2vw"></i></span>
                    <span class="actionButton hidden" id="btnChoose">This is so me<i class="fas fa-angle-right pull-right" style="font-size: 1.2vw"></i></span>
                </div>
            </div>
        </div>
        <div class="col-xs-8" style="height: 100%">
            <div class="homeRightContent">
                <img src="~/Content/Images/decorex.png" alt="Decorex" class="img-responsive" style="width: 90%" id="imgDecorex" />
            </div>
        </div>
    </div>

    <div class="row hidden" style="height: 100%" id="divRoomChosen">
        <div class="col-sm-6 col-sm-offset-3" style="height: 100%">
            <div class="fullContent">
                <div class="col-sm-12" style="margin-bottom: 35px">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 30%; display: block; margin: auto" />
                </div>
                <div class="col-sm-12">
                    <div class="row formRow">
                        <div class="col-sm-6">
                            <label for="fieldName" class="formLabel">First Name</label><br />
                            <input id="fieldName" name="cm-name" type="text" />
                        </div>
                        <div class="col-sm-6">
                            <label for="fieldjykhutt" class="formLabel">Last Name</label><br />
                            <input id="fieldjykhutt" name="cm-f-jykhutt" type="text" />
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-6">
                            <label for="fieldjykhurt" class="formLabel">Cell</label><br />
                            <input id="fieldjykhurt" name="cm-f-jykhurt" type="text" />
                        </div>
                        <div class="col-sm-6">
                            <label for="fieldEmail" class="formLabel">Email</label><br />
                            <input id="fieldEmail" class="js-cm-email-input" name="cm-sykgy-sykgy" type="email" required />
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-6">
                            <label for="fieldjykhuri" class="formLabel">Gender</label><br />
                            <select id="fieldjykhuri" name="cm-fo-jykhuri">
                                <option value=""></option>
                                <option value="2869209">Male</option>
                                <option value="2869210">Female</option>
                                <option value="2869945">Other</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="fieldjykujij" class="formLabel">Age</label><br />
                            <select id="fieldjykujij" name="cm-fo-jykujij">
                                <option value=""></option>
                                <option value="2869946">Younger</option>
                                <option value="2869947">18 - 24</option>
                                <option value="2869948">25 - 34</option>
                                <option value="2869949">35 - 44</option>
                                <option value="2869950">45 - 54</option>
                                <option value="2869951">55 - 64</option>
                                <option value="2869952">65 - 74</option>
                                <option value="2869953">Older</option>
                            </select>
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-12" style="padding-left: calc(100% / 2 - 120px)">
                            <div class="red customCheckbox">
                                <input type="checkbox" value="2869211" id="fieldjykhujj" name="cm-fo-jykhujj">
                                <label class="inner" for="fieldjykhujj"></label>
                                <label class="outer" for="fieldjykhujj">Receive news from Plascon.</label>
                            </div>
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer">
                            <span class="actionButton" id="btnSubmit">Submit<i class="fas fa-angle-right pull-right" style="font-size: 1.2vw"></i></span>
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer">
                            <a href="@termsUrl" target="_blank">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden" style="height: 100%" id="divThankYou">
        <div class="col-sm-10 col-sm-offset-1" style="height: 100%">
            <div class="fullContent">
                <div class="col-sm-12" style="margin-bottom: 35px">
                    <img src="~/Content/Images/PlasconDFL.png" class="img-responsive" alt="Plascon" style="width: 30%; display: block; margin: auto" />
                </div>
                <div class="col-sm-12">
                    <div class="row formRow">
                        <div class="col-sm-12 thankyouMessageTitle centerContainer">
                            You have been entered into the draw.
                        </div>
                    </div>
                    <div class="row formRow">
                        <div class="col-sm-12 thankyouMessageText centerContainer">
                            Good luck!
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 10vh">
                        <div class="col-sm-12 centerContainer">
                            <span class="actionButton" id="btnReset" onclick="window.location.reload();">Submit<i class="fas fa-angle-right pull-right" style="font-size: 1.2vw"></i></span>
                        </div>
                    </div>
                    <div class="row formRow" style="margin-top: 1.85vh">
                        <div class="col-sm-12 centerContainer">
                            <a href="@termsUrl" target="_blank">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts {
    <script type="text/javascript">
        var backgroundCounter = 1;
        var refreshInterval;
        var currentBackground = 1;
        var leftStop = 0;

        function changeBackground() {
            $.backstretch("/content/images/backSlider" + backgroundCounter + ".jpg", { transitionDuration: 500 });
            backgroundCounter = (backgroundCounter === 6) ? 1 : backgroundCounter + 1;
        }

        $("#btnStart").on("click",
            function () {
                clearInterval(refreshInterval);
                $.backstretch("/content/images/backSlider1.jpg", { transitionDuration: 500 });
                $("#imgDecorex").addClass("hidden");
                $("#divRoomContainer").removeClass("hidden");
                $("#sliderBullet1").addClass("homeDotRed");
                $("#btnStart").addClass("hidden");
                $("#btnChoose").removeClass("hidden");
                $("#divNext").removeClass("hidden");
                $("#divPrev").removeClass("hidden");
            });

        $("#divNext").on("click",
            function () {
                currentBackground = (currentBackground === 6) ? 1 : currentBackground + 1;
                leftStop = $("#divRoom").offset().left;
                $("#divRoom").css("left", leftStop);

                $.backstretch("/content/images/backSlider" + currentBackground + ".jpg", { transitionDuration: 500 });
                $(".homeDotSpacing").removeClass("homeDotRed");
                $("#sliderBullet" + currentBackground).addClass("homeDotRed");

                $("#divRoom").animate({
                    left: '-50%'
                }, 300, function() {
                    $("#divRoom").css('left', '150%');
                    $("#imgSlider").attr("src", "/Content/Images/Slider" + currentBackground + ".jpg");
                });

                $("#divRoom").animate({
                    left: leftStop
                }, 200, function() {
                });
            });

        $("#divPrev").on("click",
            function () {
                currentBackground = (currentBackground === 1) ? 6 : currentBackground - 1;
                leftStop = $("#divRoom").offset().left;
                $("#divRoom").css("left", leftStop);

                $.backstretch("/content/images/backSlider" + currentBackground + ".jpg", { transitionDuration: 500 });
                $(".homeDotSpacing").removeClass("homeDotRed");
                $("#sliderBullet" + currentBackground).addClass("homeDotRed");

                $("#divRoom").animate({
                    left: '-50%'
                }, 300, function() {
                    $("#divRoom").css('left', '150%');
                    $("#imgSlider").attr("src", "/Content/Images/Slider" + currentBackground + ".jpg");
                });

                $("#divRoom").animate({
                    left: leftStop
                }, 200, function() {
                });
            });

        $("#btnChoose").on("click",
            function () {
                $(".overlaySlider" + currentBackground).removeClass("hidden");
                $(".hideWhenChosen").css('visibility', 'hidden');
                $("#divPrev").addClass("hidden");
                $("#divNext").addClass("hidden");
            });

        $(".backButton").on("click",
            function () {
                $(".overlaySlider" + currentBackground).addClass("hidden");
                $(".hideWhenChosen").css('visibility', 'visible');
                $("#divPrev").removeClass("hidden");
                $("#divNext").removeClass("hidden");
            });

        function captureForm() {
            $("#divRoomContainer").addClass("hidden");
            $("#divRoomChooser").addClass("hidden");
            $("#divRoomChosen").removeClass("hidden");
        }

        $("#btnSubmit").on("click",
            function () {
                $("#divRoomChosen").addClass("hidden");
                $("#divThankYou").removeClass("hidden");
            });
        
        $(document).ready(function () {
            changeBackground();

            refreshInterval = setInterval(function () {
                changeBackground();
            }, @backgroundChangeInterval);
        });


    </script>
}
